.App{
  display: flex;
  .colored-margin{
    flex-grow:1 ;
    background-color: rgba(47, 38, 109, 1);
    height: 100%;
  }
  .main-section{
    flex-grow: 9;
    height: 100%;
    .title-box{
      border-bottom: $border-main;
      .title{
        font-size:2em;
        font-weight: 600;
        margin: $margin-main 0 $margin-main $margin-main;
      }
    }
  }
}
