.edit-button{
  @include button;
  margin: $margin-main/2 0;
  background-color: $edit-button-color;
}
.single-task-box{
  margin-top: $margin-main;
  background-color: white;
  width: 300px;
  min-height: 200px;
  padding: $margin-main/2;


  .single-task-title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4, input{
      font-size: 1.3em;
      font-weight: 600;
      line-height: 1.2em;
    }
    .icons-div{
      display: flex;
      align-items: center;
    }
    .check-div{
      border: $border-main;
      border-radius: 50%;
    }
    .icon{
      width: 20px;
      height: 20px;
    }
    svg[data-icon="edit"]{
    color:  $edit-icon-color
    }
    svg[data-icon="check-circle"]{
     color:  $check-icon-color
    }
    svg[data-icon="trash-alt"]{
     color: $trash-color;
      margin-left: 5px;
    }

  }
  input, textarea{
    border: none;
    outline: none;
    font-family: $font-base;
    width: 80%;
    padding: 5px;
    line-height: 1.2em;

    &:focus{
      border-bottom: 1px solid $border-color;
    }
  }
  textarea{
    font-size: 16px;
    width: 100%;
    min-height: 100px;
    &:hover{
      border: none;
      outline: none;
    }
  }
  .message, textarea{
    margin-top: $margin-main;
  }
  .send-button{
    display: block;
    @include button;
  }
  .warning{
  color: red;
    margin-bottom: 5px;
}
}