.task-box{
  margin-left: $margin-main;
  .task-title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .task-title{
      line-height: 1.2em;
      font-size: 1.5em;
      font-weight: 600;
      span{
        font-weight: 300;
        color: $font-accent-color;

      }
    }
    .add-button{
      @include button;
      span{
        line-height: 1.2em;
        margin-right: 0.5em;
      }
    }
  }
}