$border-color:rgba(143, 143, 143, 0.5);
$background-color:rgba(143, 143, 143, 0.1);
$font-accent-color:rgba(109, 115, 120, 1);
$check-icon-color: #5d9d75;
$edit-icon-color:  #9d973f;
$edit-button-color: rgba(77, 254, 186, 0.36);
$trash-color:rgba(149, 29, 29, 1);